## MANIPULACI√ìN DE DATOS (SPARK SQL EN DATABRICKS)

In [0]:
from pyspark.sql import SparkSession # Puerta de entrada para trabajar con spark <-- SIEMPRE DEBEMOS IMPORTAR LA LLAVE MAESTRA QUE INICIA TODO.
from pyspark.sql.functions import *  # Funciones propias del m√≥dulo SQL de Spark, para trabajar sobre Dataframes.

spark = SparkSession.builder.appName("DatabricksSparkSQL").getOrCreate()

### DATAFRAMES (Versi√≥n Databricks Free Edition)

#### Link de [Databrick Free Edition](https://dbc-89f542f8-2df6.cloud.databricks.com/?o=758509963140561)

Para abordar el tema de **Manipulaci√≥n de Datos**, utilizaremos una de las principales herramientas que ofrece **Databricks: Spark SQL**.  
Esta herramienta nos permite aplicar conceptos del lenguaje SQL sobre conjuntos de datos estructurados, ya sea que provengan directamente de archivos o est√©n gobernados a trav√©s del servicio **Unity Catalog**.

Gracias a Spark SQL, podremos consultar, transformar y analizar datos de forma eficiente, aprovechando tanto la potencia del motor distribuido de Spark como la organizaci√≥n l√≥gica que brinda Unity Catalog.

##### FASE 1. FUENTES DE DATOS

In [0]:
#### ‚û°Ô∏è Como se ven√≠a explicando, Unity Catalog trabaja bajo una jerarqu√≠a de Cat√°lagos, Esquemas, Volumenes y Tablas.
####     Por ende, es diferente la manera de acceder a su contenido.

#====== üìå LEER ARCHIVO CSV 
##üìù SINTAXIS:
#   dataset_nombre = spark.read.option("header","true").option("inferSchema","true").csv("/Volumes/NombreCatalago/NombreEsquema/NombreArchivo")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .option("header","true||false") : Permite establecer si tomar√° en cuenta los encabezados del dataset. true(mostrar) | false(ocultar)
#---> .option("inferSchema","true||false") : Permite reconocer el tipo de dato de cada columna del dataset. true(mostrar) | false(ocultar)
#---> .csv(RutaArchivoCSV) : Tipo de archivo a leer (En este caso un CSV).

## üìù EJEMPLO:
df_titanic_csv = spark.read.option("header","true").option("inferSchema","true").csv("/Volumes/explicacion_unity_catalog/ejemplos/csv_titanic")
# df_titanic_csv.show(5)

#====== üìå LEER ARCHIVO PARQUET
##üìù SINTAXIS:
#   dataset_nombre = spark.read.parquet("/Volumes/NombreCatalago/NombreEsquema/NombreArchivoPARQUET")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .parquet(RutaArchivoPARQUET) : Tipo de archivo a leer (En este caso un PARQUET).

## üìù EJEMPLO
df_titanic_parquet = spark.read.parquet("/Volumes/explicacion_unity_catalog/ejemplos/parquet_titanic")
# df_titanic_parquet.show(5)

#====== üìå LEER ARCHIVO DELTA
## üìù SINTAXIS:
#   dataset_nombre = spark.read.format("delta").load("/Volumes/NombreCatalago/NombreEsquema/NombreArchivoDELTA")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .format("delta") : stablece el tipo de archivo a leer (En este caso aplica siempre para DELTA)
#---> .load(RutaArchivoDelta) : Aplica solo a los archivos DELTA.

## üìù EJEMPLO:
df_titanic_archivo_delta = spark.read.format("delta").load("/Volumes/explicacion_unity_catalog/ejemplos/archivo_delta_titanic")
# df_titanic_archivo_delta.show(5)

#====== üìå LEER TABLA DELTA (RECOMENDADO Y NATIVO EN DATABRICKS-UNITY-CATALOG)
## üìù SINTAXIS:
#   dataset_nombre = spark.sql("SELECT * FROM NombreCatalago.NombreEsquema.NombreTablaDelta")

#---> spark.sql() : Permite leer mediante lenguaje SQL una tabla delta. Siempre instanciando primero SparkSession.
#---> "NombreCatalago.NombreEsquema.NombreTablaDelta" : Ruta aplicable solo para las tablas delta y gobernadas por Unity Catalog

## üìù EJEMPLO
df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic")
# df_titanic_delta.show(5)

##### FASE 2. EXPLORACI√ìN INICIAL

Utilizaremos de ejemplo el dataset de titanic ( en formato tabla delta y CSV)

In [0]:
#====== A). Quitar encabezados originales provenientes del Dataset (Archivos CSV).
df_titanic_archivo_delta = spark.read.csv("/Volumes/explicacion_unity_catalog/ejemplos/csv_titanic") ## ‚¨ÖÔ∏è Archivo CSV
df_titanic_archivo_delta.show(3)
#### üß†üí° Importante: Cuando leamos un archivo CSV, si no establecemos .option("header","true")
####                   el dataframe mostrar√° las columnas con un prefijo c_ seguido de una posici√≥n asignada.
####                   (Y los nombres de columnas ser√°n parte de los registros del dataset)

In [0]:
#====== B). Mostrar los N primeros registros de un dataset.

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## ‚¨ÖÔ∏è Tabla delta

#### üìù SINTAXIS: dataset_nombre.show(N√∫meroDeRegistros)

#### üìù EJEMPLO 1:
# df_titanic_delta.show(10) ## ‚¨ÖÔ∏è Mostrar los 10 primeros registros.

#### üìù EJEMPLO 2:
# df_titanic_delta.show(5) ## ‚¨ÖÔ∏è Mostrar los 5 primeros registros.

#### üìù EJEMPLO 3:
df_titanic_delta.show(3) ## ‚¨ÖÔ∏è Mostrar los 3 primeros registros.

In [0]:
#====== C). Mostrar los N √∫ltimos registros de un dataset (Retornado en una lista).

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## ‚¨ÖÔ∏è Tabla delta

#### üìù SINTAXIS: dataset_nombre.tail(N√∫meroDeRegistros)

#### üìù EJEMPLO 1:
# df_titanic_delta.tail(10) ## ‚¨ÖÔ∏è Mostrar los 10 primeros √∫ltimos.

#### üìù EJEMPLO 2:
# df_titanic_delta.tail(5) ## ‚¨ÖÔ∏è Mostrar los 5 primeros √∫ltimos.

#### üìù EJEMPLO 3:
df_titanic_delta.tail(3) ## ‚¨ÖÔ∏è Mostrar los 3 primeros √∫ltimos.

In [0]:
#====== D). Mostrar el vol√∫men del dataset (Cantidad de filas y columnas respectivamente)

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## ‚¨ÖÔ∏è Tabla delta

#### üìù SINTAXIS: 
#       dataset_nombre.count() ‚¨ÖÔ∏è Cantidad de filas
#       len([i for i in dataframe_nombre.columns]) ‚¨ÖÔ∏è Cantidad de columnas

#### üìù EJEMPLO 1:
print(f"Cantidad de filas: {df_titanic_delta.count()}") ## ‚¨ÖÔ∏è Cantidad de filas.

#### üìù EJEMPLO 2:
print(f"Cantidad de columnas: {len([i for i in df_titanic_delta.columns])}") ## ‚¨ÖÔ∏è Cantidad de columnas.

##### FASE 3. EXPLORACI√ìN INICIAL

###### FASE 3.1. DATOS CUALITATIVOS

In [0]:
"""
    A). CONVERTIR A MAY√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            upper(col("NombreColumnaCualitativa")) ‚¨ÖÔ∏è Funci√≥n upper() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    upper(col("embark_town")) ## ‚¨ÖÔ∏è Convertimos a may√∫sculas los datos de la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    B). CONVERTIR A MIN√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            lower(col("NombreColumnaCualitativa")) ‚¨ÖÔ∏è Funci√≥n lower() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    lower(col("embark_town")) ## ‚¨ÖÔ∏è Convertimos a min√∫sculas los datos de la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    C). CONVERTIR A MAY√öSCULA LA PRIMERA LETRA DE CADA DATO CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            initcap(col("NombreColumnaCualitativa")) ‚¨ÖÔ∏è Funci√≥n initcap() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    initcap(col("embark_town")) ## ‚¨ÖÔ∏è Convertimos la primera letra en may√∫scula de cada dato en la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    D). EXTRAER DE CADA DATO CUALITATIVO UNA CADENA EN ESPEC√çFICO MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
                regexp_extract(col("embark_town"),r'([A-Z])',1) ‚¨ÖÔ∏è Funci√≥n regexp_extract() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO 1: ‚¨ÖÔ∏è Extraemos primera letra en may√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "PrimeraLetraEnMay√∫scula",
#     regexp_extract(col("embark_town"),r'([A-Z])',1)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 2: ‚¨ÖÔ∏è Extraemos primera letra en min√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "PrimeraLetraEnMin√∫scula",
#     regexp_extract(col("embark_town"),r'([a-z])',0)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 3: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en may√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnaMay√∫scula",
#     regexp_extract(col("embark_town"),r'[A-Z]([a-z]+)', 1)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 4: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en min√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnaMin√∫scula",
#     regexp_extract(col("embark_town"),r'[a-z]([a-z]+)', 1)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 5: ‚¨ÖÔ∏è Retornamos todo despu√©s de un n√∫mero
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnN√∫mero",
#     regexp_extract(col("embark_town"),r'([0-9]+)', 1)
# )
# df_titanic_delta.show(3)

In [0]:
"""
    E). REEMPLAZAR VALORES DE DATOS CUALITATIVOS MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:
    
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""
### DATASET DE PRUEBA PARA ESTE EJEMPLO
datos_sucios = {
    "nombre": [
        "  JUAN  p√©rez  ", 
        "MAR√çA@@L√ìPEZ", 
        "Ana--Mart√≠nez", 
        "carlos_rodr√≠guez ", 
        "Sof√≠a123 Garc√≠a"
    ],
    "categoria_producto": [
        "ELECTR√ìNICA#1", 
        "ropa--Mujer", 
        "hogar_y_DECORACI√ìN", 
        "LIBROS@@", 
        "Juguetes  ni√±os"
    ],
    "codigo": [
        "ID-0001", 
        "ID-0023", 
        "CL-1234", 
        "ID-abc123", 
        "id-9999"
    ]
}
## Dataset de prueba (sucio)
df_test = spark.createDataFrame(data=list(zip(*datos_sucios.values())),schema=["nombre","categoria_producto","codigo"])
# df_test.show()

## Dataset de prueba (limpio)
df_test_clean = df_test 
# df_test_clean.show()

## üí° EJEMPLO 1: ‚¨ÖÔ∏è Eliminar caract√©res especiales (@@,#,--,_)
df_test_clean = df_test_clean.withColumns({
    "categoria_producto":
    regexp_replace(col("categoria_producto"),r'[^A-Za-z0-9√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]'," "),
    "nombre":
    regexp_replace(col("nombre"),r'[^A-Za-z0-9√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]',' ')
})
# df_test_clean.show()

## üí° EJEMPLO 2: ‚¨ÖÔ∏è Normalizar espacios (Varios espacios en blanco a uno solo)
df_test_clean = df_test_clean.withColumns({
    "categoria_producto":
    regexp_replace(col("categoria_producto"),r'\s+'," "),
    "nombre":
    regexp_replace(col("nombre"),r'\s+',' ')
})
# df_test_clean.show()

## üí° EJEMPLO 3: ‚¨ÖÔ∏è Reemplazar guiones por espacios en blanco
df_test_clean = df_test_clean.withColumn(
    "nombre",
    regexp_replace(col("nombre"),r'[-_]',' ')
)
# df_test_clean.show()

## üí° EJEMPLO 4: ‚¨ÖÔ∏è Eliminar prefijos (ID- || CL- || id- || Letras)
df_test_clean = df_test_clean.withColumn(
    "codigo",
    regexp_replace(col("codigo"),r'^ID-|^CL-|^id-|[a-zA-Z]','')
)
# df_test_clean.show()

## üí° EJEMPLO 5: ‚¨ÖÔ∏è Eliminar n√∫meros dentro de cadenas
df_test_clean = df_test_clean.withColumns({
    "nombre":
    regexp_replace(initcap(col("nombre")),r'[0-9]',''),
    "categoria_producto":
    regexp_replace(initcap(col("categoria_producto")),r'[0-9]','')
})
df_test_clean.show()