## MANIPULACIÃ“N DE DATOS (SPARK SQL EN DATABRICKS)

In [0]:
from pyspark.sql import SparkSession # Puerta de entrada para trabajar con spark <-- SIEMPRE DEBEMOS IMPORTAR LA LLAVE MAESTRA QUE INICIA TODO.
from pyspark.sql.functions import *  # Funciones propias del mÃ³dulo SQL de Spark, para trabajar sobre Dataframes.

spark = SparkSession.builder.appName("DatabricksSparkSQL").getOrCreate()

### DATAFRAMES (VersiÃ³n Databricks Free Edition)

#### Link de [Databrick Free Edition](https://dbc-89f542f8-2df6.cloud.databricks.com/?o=758509963140561)

Para abordar el tema de **ManipulaciÃ³n de Datos**, utilizaremos una de las principales herramientas que ofrece **Databricks: Spark SQL**.  
Esta herramienta nos permite aplicar conceptos del lenguaje SQL sobre conjuntos de datos estructurados, ya sea que provengan directamente de archivos o estÃ©n gobernados a travÃ©s del servicio **Unity Catalog**.

Gracias a Spark SQL, podremos consultar, transformar y analizar datos de forma eficiente, aprovechando tanto la potencia del motor distribuido de Spark como la organizaciÃ³n lÃ³gica que brinda Unity Catalog.

##### FASE 1. FUENTES DE DATOS

In [0]:
#### âž¡ï¸ Como se venÃ­a explicando, Unity Catalog trabaja bajo una jerarquÃ­a de CatÃ¡lagos, Esquemas, Volumenes y Tablas.
####     Por ende, es diferente la manera de acceder a su contenido.

#====== ðŸ“Œ LEER ARCHIVO CSV 
##ðŸ“ SINTAXIS:
#   dataset_nombre = spark.read.option("header","true").option("inferSchema","true").csv("/Volumes/NombreCatalago/NombreEsquema/NombreArchivo")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .option("header","true||false") : Permite establecer si tomarÃ¡ en cuenta los encabezados del dataset. true(mostrar) | false(ocultar)
#---> .option("inferSchema","true||false") : Permite reconocer el tipo de dato de cada columna del dataset. true(mostrar) | false(ocultar)
#---> .csv(RutaArchivoCSV) : Tipo de archivo a leer (En este caso un CSV).

## ðŸ“ EJEMPLO:
df_titanic_csv = spark.read.option("header","true").option("inferSchema","true").csv("/Volumes/explicacion_unity_catalog/ejemplos/csv_titanic")
# df_titanic_csv.show(5)

#====== ðŸ“Œ LEER ARCHIVO PARQUET
##ðŸ“ SINTAXIS:
#   dataset_nombre = spark.read.parquet("/Volumes/NombreCatalago/NombreEsquema/NombreArchivoPARQUET")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .parquet(RutaArchivoPARQUET) : Tipo de archivo a leer (En este caso un PARQUET).

## ðŸ“ EJEMPLO
df_titanic_parquet = spark.read.parquet("/Volumes/explicacion_unity_catalog/ejemplos/parquet_titanic")
# df_titanic_parquet.show(5)

#====== ðŸ“Œ LEER ARCHIVO DELTA
## ðŸ“ SINTAXIS:
#   dataset_nombre = spark.read.format("delta").load("/Volumes/NombreCatalago/NombreEsquema/NombreArchivoDELTA")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .format("delta") : stablece el tipo de archivo a leer (En este caso aplica siempre para DELTA)
#---> .load(RutaArchivoDelta) : Aplica solo a los archivos DELTA.

## ðŸ“ EJEMPLO:
df_titanic_archivo_delta = spark.read.format("delta").load("/Volumes/explicacion_unity_catalog/ejemplos/archivo_delta_titanic")
# df_titanic_archivo_delta.show(5)

#====== ðŸ“Œ LEER TABLA DELTA (RECOMENDADO Y NATIVO EN DATABRICKS-UNITY-CATALOG)
## ðŸ“ SINTAXIS:
#   dataset_nombre = spark.sql("SELECT * FROM NombreCatalago.NombreEsquema.NombreTablaDelta")

#---> spark.sql() : Permite leer mediante lenguaje SQL una tabla delta. Siempre instanciando primero SparkSession.
#---> "NombreCatalago.NombreEsquema.NombreTablaDelta" : Ruta aplicable solo para las tablas delta y gobernadas por Unity Catalog

## ðŸ“ EJEMPLO
df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic")
# df_titanic_delta.show(5)

##### FASE 2. EXPLORACIÃ“N INICIAL

Utilizaremos de ejemplo el dataset de titanic ( en formato tabla delta y CSV)

In [0]:
#====== A). Quitar encabezados originales provenientes del Dataset (Archivos CSV).
df_titanic_archivo_delta = spark.read.csv("/Volumes/explicacion_unity_catalog/ejemplos/csv_titanic") ## â¬…ï¸ Archivo CSV
df_titanic_archivo_delta.show(3)
#### ðŸ§ ðŸ’¡ Importante: Cuando leamos un archivo CSV, si no establecemos .option("header","true")
####                   el dataframe mostrarÃ¡ las columnas con un prefijo c_ seguido de una posiciÃ³n asignada.
####                   (Y los nombres de columnas serÃ¡n parte de los registros del dataset)

In [0]:
#====== B). Mostrar los N primeros registros de un dataset.

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## â¬…ï¸ Tabla delta

#### ðŸ“ SINTAXIS: dataset_nombre.show(NÃºmeroDeRegistros)

#### ðŸ“ EJEMPLO 1:
# df_titanic_delta.show(10) ## â¬…ï¸ Mostrar los 10 primeros registros.

#### ðŸ“ EJEMPLO 2:
# df_titanic_delta.show(5) ## â¬…ï¸ Mostrar los 5 primeros registros.

#### ðŸ“ EJEMPLO 3:
df_titanic_delta.show(3) ## â¬…ï¸ Mostrar los 3 primeros registros.

In [0]:
#====== C). Mostrar los N Ãºltimos registros de un dataset (Retornado en una lista).

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## â¬…ï¸ Tabla delta

#### ðŸ“ SINTAXIS: dataset_nombre.tail(NÃºmeroDeRegistros)

#### ðŸ“ EJEMPLO 1:
# df_titanic_delta.tail(10) ## â¬…ï¸ Mostrar los 10 primeros Ãºltimos.

#### ðŸ“ EJEMPLO 2:
# df_titanic_delta.tail(5) ## â¬…ï¸ Mostrar los 5 primeros Ãºltimos.

#### ðŸ“ EJEMPLO 3:
df_titanic_delta.tail(3) ## â¬…ï¸ Mostrar los 3 primeros Ãºltimos.

In [0]:
#====== D). Mostrar el volÃºmen del dataset (Cantidad de filas y columnas respectivamente)

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## â¬…ï¸ Tabla delta

#### ðŸ“ SINTAXIS: 
#       dataset_nombre.count() â¬…ï¸ Cantidad de filas
#       len([i for i in dataframe_nombre.columns]) â¬…ï¸ Cantidad de columnas

#### ðŸ“ EJEMPLO 1:
print(f"Cantidad de filas: {df_titanic_delta.count()}") ## â¬…ï¸ Cantidad de filas.

#### ðŸ“ EJEMPLO 2:
print(f"Cantidad de columnas: {len([i for i in df_titanic_delta.columns])}") ## â¬…ï¸ Cantidad de columnas.

##### FASE 3. EXPLORACIÃ“N INICIAL

###### FASE 3.1. DATOS CUALITATIVOS

In [0]:
"""
    A). CONVERTIR A MAYÃšSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    ðŸ“ SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            upper(col("NombreColumnaCualitativa")) â¬…ï¸ FunciÃ³n upper() integrada en Spark SQL.
        )
    ### ðŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### ðŸ’¡ Importante: Siempre .withColumn() trabajarÃ¡ con al menos una columna del dataset.
"""

# ðŸ’¡ EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    upper(col("embark_town")) ## â¬…ï¸ Convertimos a mayÃºsculas los datos de la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    B). CONVERTIR A MINÃšSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    ðŸ“ SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            lower(col("NombreColumnaCualitativa")) â¬…ï¸ FunciÃ³n lower() integrada en Spark SQL.
        )
    ### ðŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### ðŸ’¡ Importante: Siempre .withColumn() trabajarÃ¡ con al menos una columna del dataset.
"""

# ðŸ’¡ EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    lower(col("embark_town")) ## â¬…ï¸ Convertimos a minÃºsculas los datos de la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    C). CONVERTIR A MAYÃšSCULA LA PRIMERA LETRA DE CADA DATO CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    ðŸ“ SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            initcap(col("NombreColumnaCualitativa")) â¬…ï¸ FunciÃ³n initcap() integrada en Spark SQL.
        )
    ### ðŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### ðŸ’¡ Importante: Siempre .withColumn() trabajarÃ¡ con al menos una columna del dataset.
"""

# ðŸ’¡ EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    initcap(col("embark_town")) ## â¬…ï¸ Convertimos la primera letra en mayÃºscula de cada dato en la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    D). EXTRAER DE CADA DATO CUALITATIVO UNA CADENA EN ESPECÃFICO MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    ðŸ“ SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
                regexp_extract(col("embark_town"),r'([A-Z])',1) â¬…ï¸ FunciÃ³n regexp_extract() integrada en Spark SQL.
        )
    ### ðŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### ðŸ’¡ Importante: Siempre .withColumn() trabajarÃ¡ con al menos una columna del dataset.
"""

# ðŸ’¡ EJEMPLO 1: â¬…ï¸ Extraemos primera letra en mayÃºscula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "PrimeraLetraEnMayÃºscula",
#     regexp_extract(col("embark_town"),r'([A-Z])',1)
# )
# df_titanic_delta.show(3)

# ðŸ’¡ EJEMPLO 2: â¬…ï¸ Extraemos primera letra en minÃºscula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "PrimeraLetraEnMinÃºscula",
#     regexp_extract(col("embark_town"),r'([a-z])',0)
# )
# df_titanic_delta.show(3)

# ðŸ’¡ EJEMPLO 3: â¬…ï¸ Retornamos todo despuÃ©s de una letra en mayÃºscula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnaMayÃºscula",
#     regexp_extract(col("embark_town"),r'[A-Z]([a-z]+)', 1)
# )
# df_titanic_delta.show(3)

# ðŸ’¡ EJEMPLO 4: â¬…ï¸ Retornamos todo despuÃ©s de una letra en minÃºscula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnaMinÃºscula",
#     regexp_extract(col("embark_town"),r'[a-z]([a-z]+)', 1)
# )
# df_titanic_delta.show(3)

# ðŸ’¡ EJEMPLO 5: â¬…ï¸ Retornamos todo despuÃ©s de un nÃºmero
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnNÃºmero",
#     regexp_extract(col("embark_town"),r'([0-9]+)', 1)
# )
# df_titanic_delta.show(3)

In [0]:
"""
    E). REEMPLAZAR VALORES DE DATOS CUALITATIVOS MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    ðŸ“ SINTAXIS:
    
    
    ### ðŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### ðŸ’¡ Importante: Siempre .withColumn() trabajarÃ¡ con al menos una columna del dataset.
"""
### DATASET DE PRUEBA PARA ESTE EJEMPLO
datos_sucios = {
    "nombre": [
        "  JUAN  pÃ©rez  ", 
        "MARÃA@@LÃ“PEZ", 
        "Ana--MartÃ­nez", 
        "carlos_rodrÃ­guez ", 
        "SofÃ­a123 GarcÃ­a"
    ],
    "categoria_producto": [
        "ELECTRÃ“NICA#1", 
        "ropa--Mujer", 
        "hogar_y_DECORACIÃ“N", 
        "LIBROS@@", 
        "Juguetes  niÃ±os"
    ],
    "codigo": [
        "ID-0001", 
        "ID-0023", 
        "CL-1234", 
        "ID-abc123", 
        "id-9999"
    ]
}
## Dataset de prueba (sucio)
df_test = spark.createDataFrame(data=list(zip(*datos_sucios.values())),schema=["nombre","categoria_producto","codigo"])
# df_test.show()

## Dataset de prueba (limpio)
df_test_clean = df_test 
# df_test_clean.show()

## ðŸ’¡ EJEMPLO 1: â¬…ï¸ Eliminar caractÃ©res especiales (@@,#,--,_)
df_test_clean = df_test_clean.withColumns({
    "categoria_producto":
    regexp_replace(col("categoria_producto"),r'[^A-Za-z0-9ÃÃ‰ÃÃ“ÃšÃ¡Ã©Ã­Ã³ÃºÃ‘Ã±ÃœÃ¼]'," "),
    "nombre":
    regexp_replace(col("nombre"),r'[^A-Za-z0-9ÃÃ‰ÃÃ“ÃšÃ¡Ã©Ã­Ã³ÃºÃ‘Ã±ÃœÃ¼]',' ')
})
# df_test_clean.show()

## ðŸ’¡ EJEMPLO 2: â¬…ï¸ Normalizar espacios (Varios espacios en blanco a uno solo)
df_test_clean = df_test_clean.withColumns({
    "categoria_producto":
    regexp_replace(col("categoria_producto"),r'\s+'," "),
    "nombre":
    regexp_replace(col("nombre"),r'\s+',' ')
})
# df_test_clean.show()

## ðŸ’¡ EJEMPLO 3: â¬…ï¸ Reemplazar guiones por espacios en blanco
df_test_clean = df_test_clean.withColumn(
    "nombre",
    regexp_replace(col("nombre"),r'[-_]',' ')
)
# df_test_clean.show()

## ðŸ’¡ EJEMPLO 4: â¬…ï¸ Eliminar prefijos (ID- || CL- || id- || Letras)
df_test_clean = df_test_clean.withColumn(
    "codigo",
    regexp_replace(col("codigo"),r'^ID-|^CL-|^id-|[a-zA-Z]','')
)
# df_test_clean.show()

## ðŸ’¡ EJEMPLO 5: â¬…ï¸ Eliminar nÃºmeros dentro de cadenas
df_test_clean = df_test_clean.withColumns({
    "nombre":
    regexp_replace(initcap(col("nombre")),r'[0-9]',''),
    "categoria_producto":
    regexp_replace(initcap(col("categoria_producto")),r'[0-9]','')
})
df_test_clean.show()

###### FASE 3.2. DATOS CUANTITATIVOS

In [0]:
df_penguins = spark.sql("SELECT * FROM workspace.exercises.penguins")
df_penguins.show(3)

In [0]:
"""
    A). EXPLORACIÃ“N BÃSICA Y RESUMEN ESTADÃSTICO
        
        ðŸ“ Para los datos cuantitativos podemos obtener su estadÃ­stica bÃ¡sica
            mediante .decribe() el cuÃ¡l retornarÃ¡ el valor de las columnas float o int.
            En los campos cualitativos se visualizarÃ¡ informaciÃ³n no creÃ­ble.
"""
df_penguins.describe().show()                            ## â¬…ï¸ EstadÃ­stica simple - Todas las columnas
df_penguins.select(col("body_mass_g")).describe().show() ## â¬…ï¸ EstadÃ­stica simple - Columna body_mass_g
df_penguins.select(mean(col("body_mass_g"))).show()      ## â¬…ï¸ Media estadÃ­stica - Columna body_mass_g
df_penguins.select(median(col("body_mass_g"))).show()    ## â¬…ï¸ Mediana estadÃ­stica - Columna body_mass_g
df_penguins.select(min(col("body_mass_g"))).show()       ## â¬…ï¸ Valor mÃ­nimo - Columna body_mass_g
df_penguins.select(max(col("body_mass_g"))).show()       ## â¬…ï¸ Valor mÃ¡ximo (IMC Gramos)
df_penguins.select(sum(col("body_mass_g"))).show()       ## â¬…ï¸ Suma total - Columna body_mass_g
df_penguins.select(stddev(col("body_mass_g"))).show()    ## â¬…ï¸ DesviaciÃ³n estÃ¡ndar - Columna body_mass_g
df_penguins.select(variance(col("body_mass_g"))).show()  ## â¬…ï¸ Varianza - Columna body_mass_g

In [0]:
"""
    B). VERIFICAR VALORES NULOS EN LA(S) COLUMNA(AS) DEL DATASET
"""

## ðŸ’¡ EJEMPLO 1: VERIFICAR CANTIDAD DE VALORES NULOS EN TODAS LAS COLUMNAS DEL DATASET
## â¬…ï¸ Retorna la cantidad de datos nulos por columna.
cantidad_nulos = df_penguins.select([
    sum(when(col(i).isNull(),1).otherwise(0)).alias(i)
    for i in df_penguins.columns
])
# cantidad_nulos.show()

## ðŸ’¡ EJEMPLO 2: VERIFICAR CANTIDAD DE VALORES NULOS EN UNA COLUMNA ESPECÃFICA DEL DATASET
##â¬…ï¸ Retorna la cantidad de datos nulos de una columna.
cantidad_nulos_bmg = df_penguins.select([
    sum(when(col(i).isNull(),1).otherwise(0)).alias(i)
    for i in df_penguins.columns
    if i=="body_mass_g"
])
cantidad_nulos_bmg.show()

In [0]:
"""
    C). FILTRANDO VALORES EN COLUMNAS CUANTITATIVAS
"""

print("Total de datos registrados: ",df_penguins.count()) ## â¬…ï¸ Cantidad de datos del dataset : 344

## ðŸ’¡ EJEMPLO 1: FILTRAR VALORES DE COLUMNA "body_mass_g" MAYOR A 3000
df_penguins_bmg_mayor_3000 = df_penguins.filter(
    col("body_mass_g")>3000
)
# df_penguins_bmg_mayor_3000.show(3)
print("Total de datos filtro 1: ",df_penguins_bmg_mayor_3000.count()) ## â¬…ï¸ Cantidad de datos del dataset : 331

## ðŸ’¡ EJEMPLO 2: FILTRAR VALORES DE COLUMNA "body_mass_g" ENTRE 1000 y 3000
df_penguins_bmg_entre_1000_3000 = df_penguins.filter(
    (col("body_mass_g")>=1000) &
    (col("body_mass_G")<=3000)
)
# df_penguins_bmg_entre_1000_3000.show(3)
print("Total de datos filtro 2: ",df_penguins_bmg_entre_1000_3000.count()) ## â¬…ï¸ Cantidad de datos del dataset : 11

## ðŸ’¡ EJEMPLO 3: FILTRAR VALORES NULOS EN COLUMNA "body_mass_g"
df_penguins_nulos_body_mass_g = df_penguins.filter(
    col("body_mass_g").isNull()
)
# df_penguins_nulos_body_mass_g.show(3)
print("Total de datos filtro 3: ",df_penguins_nulos_body_mass_g.count()) ## â¬…ï¸ Cantidad de datos del dataset : 2

## ðŸ’¡ EJEMPLO 4: FILTRAR VALORES NO NULOS EN COLUMNA "body_mass_g"
df_penguins_no_nulos_body_mass_g = df_penguins.filter(
    col("body_mass_g").isNotNull()
)
# df_penguins_no_nulos_body_mass_g.show(3)
print("Total de datos filtro 4: ",df_penguins_no_nulos_body_mass_g.count()) ## â¬…ï¸ Cantidad de datos del dataset : 342

In [0]:
"""
    D). RELLENANDO DATOS Null DE LAS COLUMNAS DE UN DATASET
    ðŸ“ SINTAXIS:
        df_penguins = df_penguins.fillna(value=ValorARellenar,subset=NombreColumna)
        ### ðŸ§  Importante: En este caso, los valores null deben rellenarse con datos
                            del mismo tipo que la columna. Por ende, debemos llenar 
                            individualmante.
"""
### âž¡ï¸ Verificar datos nulos
cantidad_nulos = df_penguins.select([
    sum(when(col(i).isNull(),1).otherwise(0)).alias(i)
    for i in df_penguins.columns
])
# cantidad_nulos.show()

### âž¡ï¸ Verificar datos nulos que han sido rellenados.
df_penguins = df_penguins.fillna(value=15.55,subset=["body_mass_g"])
# df_penguins.show()

cantidad_nulos.show() ##  âœ…Datos nulos rellanados correctamente.

##### FASE 4. AGRUPAMIENTO DE INFORMACIÃ“N

El agrupamiento de la informaciÃ³n nos brinda el resumen de la misma proveniente 
de un dataset, logrando encontrar ciertos patrones en cada grupo de informaciÃ³n

In [0]:
"""
    ðŸ“ SINTAXIS:

        dataset_nuevo_agrupamiento= dataset_nombre.groupBy(["NombreColumna1","NombreColumna2]).agg(
            funciÃ³nAgregaciÃ³n(col("NombreColumna")).alias("NuevoNombreColumna")
        )
        
        ### ðŸ§  En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.

âŽ En el agrupamiento de informaciÃ³n, podemos utilizar diversas funciones de agregaciÃ³n, tales como:

ðŸ’¡.min():    â¬…ï¸ Permite obtener el mÃ­nimo valor de la informaciÃ³n agrupada.
ðŸ’¡.max():    â¬…ï¸ Permite obtener el mÃ¡ximo valor de la informaciÃ³n agrupada.
ðŸ’¡.sum():    â¬…ï¸ Permite sumar la informaciÃ³n de una columna cuantitativa por la informaciÃ³n agrupada.
ðŸ’¡.count():  â¬…ï¸ Permite contar la cantidad de informaciÃ³n de una columna por la informaciÃ³n agrupada.
ðŸ’¡.mean():   â¬…ï¸ Permite obtener la media de una columna cuantitativa por la informaciÃ³n agrupada.
ðŸ’¡.median(): â¬…ï¸ Permite obtener la mediana de una columna cuantitativa por la informaciÃ³n agrupada.
"""
###âœ”ï¸ Usaremos el dataset de "penguins"
df_penguins = spark.sql("SELECT * FROM workspace.exercises.penguins") ## â¬…ï¸ Tabla Delta
# df_penguins.show()

In [0]:
## ðŸ’¡ EJEMPLO 1: (AGRUPANDO POR UNA COLUMNA) 
df_agrupado_uno = df_penguins.groupBy(["species"]).agg(
    round(mean(col("body_mass_g")),2).alias("PromedioBMG") ## â¬…ï¸ Hallamos la media de la columna "body_mass_g"
)
# df_agrupado_uno.show()

## ðŸ’¡ EJEMPLO 2: (AGRUPAR POR DOS COLUMNAS)
df_agrupado_dos = df_penguins.groupBy(["species","sex"]).agg(
    round(mean(col("body_mass_g")),2).alias("Species_Sex_PromedioBMG")
)
# df_agrupado_dos.show()

## ðŸ’¡ EJEMPLO 3: (AGRUPAR LA INFORMACIÃ“N POR LA CANTIDAD DE LA MISMA COLUMNA)

df_agrupado_tres = df_penguins.groupBy(["species"]).agg(
    count(col("species")).alias("Cantidad") ## â¬…ï¸ .count() : funciÃ³n clave para traer la cantidad de datos de la columna.
)
df_agrupado_tres.show()