## MANIPULACI√ìN DE DATOS (SPARK SQL EN DATABRICKS)

In [0]:
from pyspark.sql import SparkSession # Puerta de entrada para trabajar con spark <-- SIEMPRE DEBEMOS IMPORTAR LA LLAVE MAESTRA QUE INICIA TODO.
from pyspark.sql.functions import *  # Funciones propias del m√≥dulo SQL de Spark, para trabajar sobre Dataframes.

spark = SparkSession.builder.appName("DatabricksSparkSQL").getOrCreate()

### DATAFRAMES (Versi√≥n Databricks Free Edition)

#### Link de [Databrick Free Edition](https://dbc-89f542f8-2df6.cloud.databricks.com/?o=758509963140561)

Para abordar el tema de **Manipulaci√≥n de Datos**, utilizaremos una de las principales herramientas que ofrece **Databricks: Spark SQL**.  
Esta herramienta nos permite aplicar conceptos del lenguaje SQL sobre conjuntos de datos estructurados, ya sea que provengan directamente de archivos o est√©n gobernados a trav√©s del servicio **Unity Catalog**.

Gracias a Spark SQL, podremos consultar, transformar y analizar datos de forma eficiente, aprovechando tanto la potencia del motor distribuido de Spark como la organizaci√≥n l√≥gica que brinda Unity Catalog.

##### FASE 1. FUENTES DE DATOS

In [0]:
#### ‚û°Ô∏è Como se ven√≠a explicando, Unity Catalog trabaja bajo una jerarqu√≠a de Cat√°lagos, Esquemas, Volumenes y Tablas.
####     Por ende, es diferente la manera de acceder a su contenido.

#====== üìå LEER ARCHIVO CSV 
##üìù SINTAXIS:
#   dataset_nombre = spark.read.option("header","true").option("inferSchema","true").csv("/Volumes/NombreCatalago/NombreEsquema/NombreArchivo")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .option("header","true||false") : Permite establecer si tomar√° en cuenta los encabezados del dataset. true(mostrar) | false(ocultar)
#---> .option("inferSchema","true||false") : Permite reconocer el tipo de dato de cada columna del dataset. true(mostrar) | false(ocultar)
#---> .csv(RutaArchivoCSV) : Tipo de archivo a leer (En este caso un CSV).

## üìù EJEMPLO:
df_titanic_csv = spark.read.option("header","true").option("inferSchema","true").csv("/Volumes/explicacion_unity_catalog/ejemplos/csv_titanic")
# df_titanic_csv.show(5)

#====== üìå LEER ARCHIVO PARQUET
##üìù SINTAXIS:
#   dataset_nombre = spark.read.parquet("/Volumes/NombreCatalago/NombreEsquema/NombreArchivoPARQUET")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .parquet(RutaArchivoPARQUET) : Tipo de archivo a leer (En este caso un PARQUET).

## üìù EJEMPLO
df_titanic_parquet = spark.read.parquet("/Volumes/explicacion_unity_catalog/ejemplos/parquet_titanic")
# df_titanic_parquet.show(5)

#====== üìå LEER ARCHIVO DELTA
## üìù SINTAXIS:
#   dataset_nombre = spark.read.format("delta").load("/Volumes/NombreCatalago/NombreEsquema/NombreArchivoDELTA")

#---> spark.read : Permite leer un archivo basado en una ruta. Siempre instanciando primero SparkSession.
#---> .format("delta") : stablece el tipo de archivo a leer (En este caso aplica siempre para DELTA)
#---> .load(RutaArchivoDelta) : Aplica solo a los archivos DELTA.

## üìù EJEMPLO:
df_titanic_archivo_delta = spark.read.format("delta").load("/Volumes/explicacion_unity_catalog/ejemplos/archivo_delta_titanic")
# df_titanic_archivo_delta.show(5)

#====== üìå LEER TABLA DELTA (RECOMENDADO Y NATIVO EN DATABRICKS-UNITY-CATALOG)
## üìù SINTAXIS:
#   dataset_nombre = spark.sql("SELECT * FROM NombreCatalago.NombreEsquema.NombreTablaDelta")

#---> spark.sql() : Permite leer mediante lenguaje SQL una tabla delta. Siempre instanciando primero SparkSession.
#---> "NombreCatalago.NombreEsquema.NombreTablaDelta" : Ruta aplicable solo para las tablas delta y gobernadas por Unity Catalog

## üìù EJEMPLO
df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic")
# df_titanic_delta.show(5)

##### FASE 2. EXPLORACI√ìN INICIAL

Utilizaremos de ejemplo el dataset de titanic ( en formato tabla delta y CSV)

In [0]:
#====== A). Quitar encabezados originales provenientes del Dataset (Archivos CSV).
df_titanic_archivo_delta = spark.read.csv("/Volumes/explicacion_unity_catalog/ejemplos/csv_titanic") ## ‚¨ÖÔ∏è Archivo CSV
df_titanic_archivo_delta.show(3)
#### üß†üí° Importante: Cuando leamos un archivo CSV, si no establecemos .option("header","true")
####                   el dataframe mostrar√° las columnas con un prefijo c_ seguido de una posici√≥n asignada.
####                   (Y los nombres de columnas ser√°n parte de los registros del dataset)

In [0]:
#====== B). Mostrar los N primeros registros de un dataset.

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## ‚¨ÖÔ∏è Tabla delta

#### üìù SINTAXIS: dataset_nombre.show(N√∫meroDeRegistros)

#### üìù EJEMPLO 1:
# df_titanic_delta.show(10) ## ‚¨ÖÔ∏è Mostrar los 10 primeros registros.

#### üìù EJEMPLO 2:
# df_titanic_delta.show(5) ## ‚¨ÖÔ∏è Mostrar los 5 primeros registros.

#### üìù EJEMPLO 3:
df_titanic_delta.show(3) ## ‚¨ÖÔ∏è Mostrar los 3 primeros registros.

In [0]:
#====== C). Mostrar los N √∫ltimos registros de un dataset (Retornado en una lista).

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## ‚¨ÖÔ∏è Tabla delta

#### üìù SINTAXIS: dataset_nombre.tail(N√∫meroDeRegistros)

#### üìù EJEMPLO 1:
# df_titanic_delta.tail(10) ## ‚¨ÖÔ∏è Mostrar los 10 primeros √∫ltimos.

#### üìù EJEMPLO 2:
# df_titanic_delta.tail(5) ## ‚¨ÖÔ∏è Mostrar los 5 primeros √∫ltimos.

#### üìù EJEMPLO 3:
df_titanic_delta.tail(3) ## ‚¨ÖÔ∏è Mostrar los 3 primeros √∫ltimos.

In [0]:
#====== D). Mostrar el vol√∫men del dataset (Cantidad de filas y columnas respectivamente)

df_titanic_delta = spark.sql("SELECT * FROM explicacion_unity_catalog.ejemplos.delta_titanic") ## ‚¨ÖÔ∏è Tabla delta

#### üìù SINTAXIS: 
#       dataset_nombre.count() ‚¨ÖÔ∏è Cantidad de filas
#       len([i for i in dataframe_nombre.columns]) ‚¨ÖÔ∏è Cantidad de columnas

#### üìù EJEMPLO 1:
print(f"Cantidad de filas: {df_titanic_delta.count()}") ## ‚¨ÖÔ∏è Cantidad de filas.

#### üìù EJEMPLO 2:
print(f"Cantidad de columnas: {len([i for i in df_titanic_delta.columns])}") ## ‚¨ÖÔ∏è Cantidad de columnas.

##### FASE 3. EXPLORACI√ìN INICIAL

###### FASE 3.1. DATOS CUALITATIVOS

In [0]:
"""
    A). CONVERTIR A MAY√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            upper(col("NombreColumnaCualitativa")) ‚¨ÖÔ∏è Funci√≥n upper() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    upper(col("embark_town")) ## ‚¨ÖÔ∏è Convertimos a may√∫sculas los datos de la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    B). CONVERTIR A MIN√öSCULAS LOS DATOS CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            lower(col("NombreColumnaCualitativa")) ‚¨ÖÔ∏è Funci√≥n lower() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    lower(col("embark_town")) ## ‚¨ÖÔ∏è Convertimos a min√∫sculas los datos de la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    C). CONVERTIR A MAY√öSCULA LA PRIMERA LETRA DE CADA DATO CUALITATIVOS DE UNA COLUMNA EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
            initcap(col("NombreColumnaCualitativa")) ‚¨ÖÔ∏è Funci√≥n initcap() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO:
df_titanic_delta = df_titanic_delta.withColumn(
    "embark_town",
    initcap(col("embark_town")) ## ‚¨ÖÔ∏è Convertimos la primera letra en may√∫scula de cada dato en la columna cualitativa ""embark_town""
)
df_titanic_delta.show(3)

In [0]:
"""
    D). EXTRAER DE CADA DATO CUALITATIVO UNA CADENA EN ESPEC√çFICO MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:

        dataframe_nombre = dataframe_nombre.withColumn(
            "NombreColumnaNueva",
                regexp_extract(col("embark_town"),r'([A-Z])',1) ‚¨ÖÔ∏è Funci√≥n regexp_extract() integrada en Spark SQL.
        )
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""

# üí° EJEMPLO 1: ‚¨ÖÔ∏è Extraemos primera letra en may√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "PrimeraLetraEnMay√∫scula",
#     regexp_extract(col("embark_town"),r'([A-Z])',1)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 2: ‚¨ÖÔ∏è Extraemos primera letra en min√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "PrimeraLetraEnMin√∫scula",
#     regexp_extract(col("embark_town"),r'([a-z])',0)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 3: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en may√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnaMay√∫scula",
#     regexp_extract(col("embark_town"),r'[A-Z]([a-z]+)', 1)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 4: ‚¨ÖÔ∏è Retornamos todo despu√©s de una letra en min√∫scula 
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnaMin√∫scula",
#     regexp_extract(col("embark_town"),r'[a-z]([a-z]+)', 1)
# )
# df_titanic_delta.show(3)

# üí° EJEMPLO 5: ‚¨ÖÔ∏è Retornamos todo despu√©s de un n√∫mero
# df_titanic_delta = df_titanic_delta.withColumn(
#     "TodoDespuesDeUnN√∫mero",
#     regexp_extract(col("embark_town"),r'([0-9]+)', 1)
# )
# df_titanic_delta.show(3)

In [0]:
"""
    E). REEMPLAZAR VALORES DE DATOS CUALITATIVOS MEDIANTE >>EXPRESIONES REGULARES<< EN UN DATASET
    
    üìù SINTAXIS:
    
    
    ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe
    ### üí° Importante: Siempre .withColumn() trabajar√° con al menos una columna del dataset.
"""
### DATASET DE PRUEBA PARA ESTE EJEMPLO
datos_sucios = {
    "nombre": [
        "  JUAN  p√©rez  ", 
        "MAR√çA@@L√ìPEZ", 
        "Ana--Mart√≠nez", 
        "carlos_rodr√≠guez ", 
        "Sof√≠a123 Garc√≠a"
    ],
    "categoria_producto": [
        "ELECTR√ìNICA#1", 
        "ropa--Mujer", 
        "hogar_y_DECORACI√ìN", 
        "LIBROS@@", 
        "Juguetes  ni√±os"
    ],
    "codigo": [
        "ID-0001", 
        "ID-0023", 
        "CL-1234", 
        "ID-abc123", 
        "id-9999"
    ]
}
## Dataset de prueba (sucio)
df_test = spark.createDataFrame(data=list(zip(*datos_sucios.values())),schema=["nombre","categoria_producto","codigo"])
# df_test.show()

## Dataset de prueba (limpio)
df_test_clean = df_test 
# df_test_clean.show()

## üí° EJEMPLO 1: ‚¨ÖÔ∏è Eliminar caract√©res especiales (@@,#,--,_)
df_test_clean = df_test_clean.withColumns({
    "categoria_producto":
    regexp_replace(col("categoria_producto"),r'[^A-Za-z0-9√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]'," "),
    "nombre":
    regexp_replace(col("nombre"),r'[^A-Za-z0-9√Å√â√ç√ì√ö√°√©√≠√≥√∫√ë√±√ú√º]',' ')
})
# df_test_clean.show()

## üí° EJEMPLO 2: ‚¨ÖÔ∏è Normalizar espacios (Varios espacios en blanco a uno solo)
df_test_clean = df_test_clean.withColumns({
    "categoria_producto":
    regexp_replace(col("categoria_producto"),r'\s+'," "),
    "nombre":
    regexp_replace(col("nombre"),r'\s+',' ')
})
# df_test_clean.show()

## üí° EJEMPLO 3: ‚¨ÖÔ∏è Reemplazar guiones por espacios en blanco
df_test_clean = df_test_clean.withColumn(
    "nombre",
    regexp_replace(col("nombre"),r'[-_]',' ')
)
# df_test_clean.show()

## üí° EJEMPLO 4: ‚¨ÖÔ∏è Eliminar prefijos (ID- || CL- || id- || Letras)
df_test_clean = df_test_clean.withColumn(
    "codigo",
    regexp_replace(col("codigo"),r'^ID-|^CL-|^id-|[a-zA-Z]','')
)
# df_test_clean.show()

## üí° EJEMPLO 5: ‚¨ÖÔ∏è Eliminar n√∫meros dentro de cadenas
df_test_clean = df_test_clean.withColumns({
    "nombre":
    regexp_replace(initcap(col("nombre")),r'[0-9]',''),
    "categoria_producto":
    regexp_replace(initcap(col("categoria_producto")),r'[0-9]','')
})
df_test_clean.show()

In [0]:
"""
    F). ELIMINAR VALORES DUPLICADOS EN DATOS CUALITATIVOS DE UN DATASET
    
    üìù SINTAXIS:
    
        dataset_nombre.dropDuplicates(subset=[NombreColumna1,NombreColumnaN])
        
        subset: Establece el o los nombres de las columnas a eliminar duplicados,
                en caso no especifiquemos, los duplicados ser√°n eliminados de la
                totalidadl de dataset.
        
    ### üß† En este caso, debemos trabajar sobre el mismo dataset/dataframe para eliminar los duplicados.
"""
### ‚úÖüóÉÔ∏è Dataset a utilizar: Diamonds
df_diamonds = spark.sql("SELECT * FROM workspace.exercises.df_diamonds")
# df_diamonds.show()
# df_diamonds.count() ## ‚¨ÖÔ∏è Cantidad de datos inicial: 53940

## üí° EJEMPLO 1: ELIMINAR VALORES DUPLICADOS DE TODO EL DATASET
# df_diamonds = df_diamonds.dropDuplicates()
# df_diamonds.count() ## ‚¨ÖÔ∏è Cantidad de datos inicial: 53794

##üí° EJEMPLO 2: ELIMINAR VALORES DUPLICADOS DE UNA COLUMNA ESPEC√çFICA
# df_diamonds[["carat"]].count() ## ‚¨ÖÔ∏è Cantidad inicial de datos: 53940
# df_diamonds = df_diamonds.dropDuplicates(subset=["carat"]) 
# df_diamonds[["carat"]].count() ## ‚¨ÖÔ∏è Cantidad de datos restantes: 273

###### FASE 3.2. DATOS CUANTITATIVOS

In [0]:
df_penguins = spark.sql("SELECT * FROM workspace.exercises.penguins")
df_penguins.show(3)

In [0]:
"""
    A). EXPLORACI√ìN B√ÅSICA Y RESUMEN ESTAD√çSTICO
        
        üìù Para los datos cuantitativos podemos obtener su estad√≠stica b√°sica
            mediante .decribe() el cu√°l retornar√° el valor de las columnas float o int.
            En los campos cualitativos se visualizar√° informaci√≥n no cre√≠ble.
"""
df_penguins.describe().show()                            ## ‚¨ÖÔ∏è Estad√≠stica simple - Todas las columnas
df_penguins.select(col("body_mass_g")).describe().show() ## ‚¨ÖÔ∏è Estad√≠stica simple - Columna body_mass_g
df_penguins.select(mean(col("body_mass_g"))).show()      ## ‚¨ÖÔ∏è Media estad√≠stica - Columna body_mass_g
df_penguins.select(median(col("body_mass_g"))).show()    ## ‚¨ÖÔ∏è Mediana estad√≠stica - Columna body_mass_g
df_penguins.select(min(col("body_mass_g"))).show()       ## ‚¨ÖÔ∏è Valor m√≠nimo - Columna body_mass_g
df_penguins.select(max(col("body_mass_g"))).show()       ## ‚¨ÖÔ∏è Valor m√°ximo (IMC Gramos)
df_penguins.select(sum(col("body_mass_g"))).show()       ## ‚¨ÖÔ∏è Suma total - Columna body_mass_g
df_penguins.select(stddev(col("body_mass_g"))).show()    ## ‚¨ÖÔ∏è Desviaci√≥n est√°ndar - Columna body_mass_g
df_penguins.select(variance(col("body_mass_g"))).show()  ## ‚¨ÖÔ∏è Varianza - Columna body_mass_g

In [0]:
"""
    B). VERIFICAR VALORES NULOS EN LA(S) COLUMNA(AS) DEL DATASET
"""

## üí° EJEMPLO 1: VERIFICAR CANTIDAD DE VALORES NULOS EN TODAS LAS COLUMNAS DEL DATASET
## ‚¨ÖÔ∏è Retorna la cantidad de datos nulos por columna.
cantidad_nulos = df_penguins.select([
    sum(when(col(i).isNull(),1).otherwise(0)).alias(i)
    for i in df_penguins.columns
])
# cantidad_nulos.show()

## üí° EJEMPLO 2: VERIFICAR CANTIDAD DE VALORES NULOS EN UNA COLUMNA ESPEC√çFICA DEL DATASET
##‚¨ÖÔ∏è Retorna la cantidad de datos nulos de una columna.
cantidad_nulos_bmg = df_penguins.select([
    sum(when(col(i).isNull(),1).otherwise(0)).alias(i)
    for i in df_penguins.columns
    if i=="body_mass_g"
])
cantidad_nulos_bmg.show()

In [0]:
"""
    C). FILTRANDO VALORES EN COLUMNAS CUANTITATIVAS
"""

print("Total de datos registrados: ",df_penguins.count()) ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 344

## üí° EJEMPLO 1: FILTRAR VALORES DE COLUMNA "body_mass_g" MAYOR A 3000
df_penguins_bmg_mayor_3000 = df_penguins.filter(
    col("body_mass_g")>3000
)
# df_penguins_bmg_mayor_3000.show(3)
print("Total de datos filtro 1: ",df_penguins_bmg_mayor_3000.count()) ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 331

## üí° EJEMPLO 2: FILTRAR VALORES DE COLUMNA "body_mass_g" ENTRE 1000 y 3000
df_penguins_bmg_entre_1000_3000 = df_penguins.filter(
    (col("body_mass_g")>=1000) &
    (col("body_mass_G")<=3000)
)
# df_penguins_bmg_entre_1000_3000.show(3)
print("Total de datos filtro 2: ",df_penguins_bmg_entre_1000_3000.count()) ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 11

## üí° EJEMPLO 3: FILTRAR VALORES NULOS EN COLUMNA "body_mass_g"
df_penguins_nulos_body_mass_g = df_penguins.filter(
    col("body_mass_g").isNull()
)
# df_penguins_nulos_body_mass_g.show(3)
print("Total de datos filtro 3: ",df_penguins_nulos_body_mass_g.count()) ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 2

## üí° EJEMPLO 4: FILTRAR VALORES NO NULOS EN COLUMNA "body_mass_g"
df_penguins_no_nulos_body_mass_g = df_penguins.filter(
    col("body_mass_g").isNotNull()
)
# df_penguins_no_nulos_body_mass_g.show(3)
print("Total de datos filtro 4: ",df_penguins_no_nulos_body_mass_g.count()) ## ‚¨ÖÔ∏è Cantidad de datos del dataset : 342

In [0]:
"""
    D). RELLENANDO DATOS Null DE LAS COLUMNAS DE UN DATASET
    üìù SINTAXIS:
        df_penguins = df_penguins.fillna(value=ValorARellenar,subset=NombreColumna)
        ### üß† Importante: En este caso, los valores null deben rellenarse con datos
                            del mismo tipo que la columna. Por ende, debemos llenar 
                            individualmante.
"""
### ‚û°Ô∏è Verificar datos nulos
cantidad_nulos = df_penguins.select([
    sum(when(col(i).isNull(),1).otherwise(0)).alias(i)
    for i in df_penguins.columns
])
# cantidad_nulos.show()

### ‚û°Ô∏è Verificar datos nulos que han sido rellenados.
df_penguins = df_penguins.fillna(value=15.55,subset=["body_mass_g"])
# df_penguins.show()

cantidad_nulos.show() ##  ‚úÖDatos nulos rellanados correctamente.

##### FASE 4. AGRUPAMIENTO DE INFORMACI√ìN

El agrupamiento de la informaci√≥n nos brinda el resumen de la misma proveniente 
de un dataset, logrando encontrar ciertos patrones en cada grupo de informaci√≥n

In [0]:
"""
    üìù SINTAXIS:

        dataset_nuevo_agrupamiento= dataset_nombre.groupBy(["NombreColumna1","NombreColumna2]).agg(
            funci√≥nAgregaci√≥n(col("NombreColumna")).alias("NuevoNombreColumna")
        )
        
        ### üß† En este caso, debemos almacenar en una variable los cambios a realizar en el dataframe.

‚ùé En el agrupamiento de informaci√≥n, podemos utilizar diversas funciones de agregaci√≥n, tales como:

üí°.min():    ‚¨ÖÔ∏è Permite obtener el m√≠nimo valor de la informaci√≥n agrupada.
üí°.max():    ‚¨ÖÔ∏è Permite obtener el m√°ximo valor de la informaci√≥n agrupada.
üí°.sum():    ‚¨ÖÔ∏è Permite sumar la informaci√≥n de una columna cuantitativa por la informaci√≥n agrupada.
üí°.count():  ‚¨ÖÔ∏è Permite contar la cantidad de informaci√≥n de una columna por la informaci√≥n agrupada.
üí°.mean():   ‚¨ÖÔ∏è Permite obtener la media de una columna cuantitativa por la informaci√≥n agrupada.
üí°.median(): ‚¨ÖÔ∏è Permite obtener la mediana de una columna cuantitativa por la informaci√≥n agrupada.
"""
###‚úîÔ∏è Usaremos el dataset de "penguins"
df_penguins = spark.sql("SELECT * FROM workspace.exercises.penguins") ## ‚¨ÖÔ∏è Tabla Delta
# df_penguins.show()

In [0]:
## üí° EJEMPLO 1: (AGRUPANDO POR UNA COLUMNA) 
df_agrupado_uno = df_penguins.groupBy(["species"]).agg(
    round(mean(col("body_mass_g")),2).alias("PromedioBMG") ## ‚¨ÖÔ∏è Hallamos la media de la columna "body_mass_g"
)
# df_agrupado_uno.show()

## üí° EJEMPLO 2: (AGRUPAR POR DOS COLUMNAS)
df_agrupado_dos = df_penguins.groupBy(["species","sex"]).agg(
    round(mean(col("body_mass_g")),2).alias("Species_Sex_PromedioBMG")
)
# df_agrupado_dos.show()

## üí° EJEMPLO 3: (AGRUPAR LA INFORMACI√ìN POR LA CANTIDAD DE LA MISMA COLUMNA)

df_agrupado_tres = df_penguins.groupBy(["species"]).agg(
    count(col("species")).alias("Cantidad") ## ‚¨ÖÔ∏è .count() : funci√≥n clave para traer la cantidad de datos de la columna.
)
df_agrupado_tres.show()

##### FASE 4. C√ÅLCULOS M√ìVILES EN PYSPARK - DATABRICKS

As√≠ como SQL SERVER permite realizar c√°lculos m√≥viles basados en funciones de agregaci√≥n
(min,max,mean,entre otros), Pyspark lo realiza mediante el m√≥dulo de pypspark.sql.function 
simulando el lenguaje T-SQL en su estructura.

In [0]:
"""
    üí° Importante: Para realizar el c√°lculo movil utilizaremos la funci√≥n .select() para
                    crear la columna m√≥vil. Adem√°s, en Pyspark debemos definir una configuraci√≥n
                    de la ventana deslizante en el caso de c√°lculos m√≥viles mediante: 
                    >>> from pyspark.sql.window import Window <<< para utilizarlo en .over()
    üìù SINTAXIS: 
        1. C√°lculo M√≥vil sin Particionamiento: Permite el c√°lculo m√≥vil de una columna que no es afectada por otra(s).

            from pyspark.sql.window import Window
            dataset_nombre_calculos_moviles = dataset_nombre_original ### ‚¨ÖÔ∏è Copiamos el dataset original
            ‚¨áÔ∏è Configuraci√≥n de la ventana 
            window_configuracion = Window.orderBy(NombreColumna1,NombreColumnaN) ### ‚¨ÖÔ∏è Ordenamos por una columna
            dataset_nombre_calculos_moviles = dataset_nombre_calculos_moviles.select( ### ‚¨ÖÔ∏è Funci√≥n .select()
                col(NombreColumna1),col(NombreColumna2), ### ‚¨ÖÔ∏è Seleccionamos las columnas necesarias
                funcionAgregacion(col(NombreColumnaCalculo)).over(window_configuracion).alias(NombreColumnaCalculoMovil)
            )

        2. C√°lculo M√≥vil con Particionamiento: Permite el c√°lculo m√≥vil de una columna que es afectada por otra(s).

            from pyspark.sql.window import Window
            dataset_nombre_calculos_moviles = dataset_nombre_original ### ‚¨ÖÔ∏è Copiamos el dataset original
            ‚¨áÔ∏è Configuraci√≥n de la ventana 
            window_configuracion = Window.partitionBy(NombreColumna1,NombreColumnaN) ### ‚¨ÖÔ∏è Particionamos por una columna
                                         .orderBy(NombreColumna1,NombreColumnaN) ### ‚¨ÖÔ∏è Ordenamos por una columna
                                         .rowsBetween(CantidadFilasAtras,FilaActual) ### ‚¨ÖÔ∏è Filas que formar√°n
                                                                                            parte del c√°lculo m√≥vil.
                ### EXPLICACI√ìN DE ROWSBETWEEN
                .rowsBetween(-2,0): En este caso, el 0 indica utilizar la fina actual.
                .rowsBetween(-2,1): Cualquier otro n√∫mero que no sea 0 indica que se utilizar√° la fina actual.

            dataset_nombre_calculos_moviles = dataset_nombre_calculos_moviles.select( ### ‚¨ÖÔ∏è Funci√≥n .select()
                col(NombreColumna1),col(NombreColumna2), ### ‚¨ÖÔ∏è Seleccionamos las columnas necesarias
                funcionAgregacion(col(NombreColumnaCalculo)).over(window_configuracion).alias(NombreColumnaCalculoMovil)
            )
"""
### üíπ USAREMOS EL SIGUIENTE DATASET DE EJEMPLO:
df_ventas = spark.sql("SELECT * FROM workspace.default.ventas_sac")
df_ventas.show(3)

In [0]:
### üí° EJEMPLO 1: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA SIN PARTICIONES)
from pyspark.sql.window import Window
df_ventas_acumuladas = df_ventas
window_ejemplo_1 = Window.orderBy("nro_venta") ## ‚¨ÖÔ∏è Como no particionamos informaci√≥n, necesitamos ordenarlas.
df_ventas_acumuladas = df_ventas_acumuladas.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    round(sum(col("total")).over(window_ejemplo_1),2).alias("ventas_acumuladas")
)
# df_ventas_acumuladas.show(6)

### üí° EJEMPLO 2: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA CADA 3 DIAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_acumuladas_3_dias = df_ventas
window_ejemplo_2 = Window.orderBy("nro_venta").rowsBetween(-2,0) ###‚¨ÖÔ∏è Configuraci√≥n de la ventana a crear.
df_ventas_acumuladas_3_dias = df_ventas_acumuladas_3_dias.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    round(sum(col("total")).over(window_ejemplo_2),2).alias("ventas_acumuladas_3_dias")
) 
# df_ventas_acumuladas_3_dias.show(6) ### (‚úÖ Incluye la fiLa actual - ‚ùåNo particionamos).

### üí° EJEMPLO 3: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA CADA 3 DIAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_acumuladas_3_dias_sin_fila_actual = df_ventas
window_ejemplo_3 = Window.orderBy("nro_venta").rowsBetween(-3,-1) ###‚¨ÖÔ∏è Configuraci√≥n de la ventana a crear.
df_ventas_acumuladas_3_dias_sin_fila_actual = df_ventas_acumuladas_3_dias_sin_fila_actual.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    round(sum(col("total")).over(window_ejemplo_3),2).alias("ventas_acumuladas_3_dias")
) 
# df_ventas_acumuladas_3_dias_sin_fila_actual.show(6) ### (‚ùå No incluye la fiLa actual - ‚ùåNo particionamos).

### üí° EJEMPLO 4: C√ÅLCULO M√ìVIL ‚û°Ô∏è VENTAS ACUMULATIVAS (SUMA ACUMULADA CON PARTICIONES)
df_ventas_acumuladas_particionadas = df_ventas
window_ejemplo_4 = Window.partitionBy("cliente").rowsBetween(Window.unboundedPreceding,0) ## ‚¨ÖÔ∏è Configuraci√≥n ventana ‚úÖ
##window_ejemplo_4=Window.partitionBy("cliente") ## ‚¨ÖÔ∏è Configuraci√≥n ventana ‚ùå (Arroja el total final acumulado en cada fila)
df_ventas_acumuladas_particionadas = df_ventas_acumuladas_particionadas.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    round(sum(col("total")).over(window_ejemplo_4),2).alias("ventas_acumuladas")
)
# df_ventas_acumuladas_particionadas.show(5) ## ‚úÖ .over() permite el particionamiento junto a la window_especificaci√≥n

#==========================================================================================================================
### üí° EJEMPLO 5: C√ÅLCULO M√ìVIL ‚û°Ô∏è PROMEDIO M√ìVIL (PROMEDIO CADA 3 D√çAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_promedio_3_dias = df_ventas
window_ejemplo_5 = Window.orderBy("nro_venta").rowsBetween(-2,0)
df_ventas_promedio_3_dias = df_ventas_promedio_3_dias.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    round(avg(col("total")).over(window_ejemplo_5),2).alias("promedio_ventas_3_dias")
)
# df_ventas_promedio_3_dias.show(5)

### üí° EJEMPLO 6: C√ÅLCULO M√ìVIL ‚û°Ô∏è PROMEDIO M√ìVIL (PROMEDIO CADA 3 D√çAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_promedio_3_dias_sin_fila_actual = df_ventas
window_ejemplo_6 = Window.orderBy("nro_venta").rowsBetween(-3,-1)
df_ventas_promedio_3_dias_sin_fila_actual = df_ventas_promedio_3_dias_sin_fila_actual.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    round(avg(col("total")).over(window_ejemplo_6),2).alias("promedio_ventas_3_dias")
)
# df_ventas_promedio_3_dias_sin_fila_actual.show(5)

#========================================================================================================================
### üí° EJEMPLO 7: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√ÅXIMO M√ìVIL (VALOR M√ÅXIMO CADA 3 D√çAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_maximo_3_dias = df_ventas
window_ejemplo_7 = Window.orderBy("nro_venta").rowsBetween(-2,0)
df_ventas_maximo_3_dias = df_ventas_maximo_3_dias.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    max(col("total")).over(window_ejemplo_7).alias("valor_maximo_3_dias")
)
# df_ventas_maximo_3_dias.show(5)
### üí° EJEMPLO 8: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√ÅXIMO M√ìVIL (VALOR M√ÅXIMO CADA 3 D√çAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_maximo_3_dias_sin_fila_actual = df_ventas
window_ejemplo_8 = Window.orderBy("nro_venta").rowsBetween(-3,-1)
df_ventas_maximo_3_dias_sin_fila_actual = df_ventas_maximo_3_dias_sin_fila_actual.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    max(col("total")).over(window_ejemplo_8).alias("valor_maximo_3_dias")
)
# df_ventas_maximo_3_dias_sin_fila_actual.show(5)

#=======================================================================================================================
### üí° EJEMPLO 9: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√çNIMO M√ìVIL (VALOR M√çNIMO CADA 3 D√çAS) (‚úÖ INCLUYE FILA ACTUAL)
df_ventas_minimo_3_dias = df_ventas
window_ejemplo_9 = Window.orderBy("nro_venta").rowsBetween(-2,0)
df_ventas_minimo_3_dias = df_ventas_minimo_3_dias.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    min(col("total")).over(window_ejemplo_9).alias("valor_minimo_3_dias")
)
# df_ventas_minimo_3_dias.show(5)

### üí° EJEMPLO 10: C√ÅLCULO M√ìVIL ‚û°Ô∏è M√çNIMO M√ìVIL (VALOR M√çNIMO CADA 3 D√çAS) (‚ùå NO INCLUYE FILA ACTUAL)
df_ventas_minimo_3_dias_sin_fila_actual = df_ventas
window_ejemplo_10 = Window.orderBy("nro_venta").rowsBetween(-3,-1)
df_ventas_minimo_3_dias_sin_fila_actual = df_ventas_minimo_3_dias_sin_fila_actual.select(
    "*", ## ‚¨ÖÔ∏è De esta manera seleccionamos todas las columnas
    min(col("total")).over(window_ejemplo_10).alias("valor_minimo_3_dias")
)
df_ventas_minimo_3_dias_sin_fila_actual.show(5)

##### FASE 5. COMBINAR Y UNIR DATASETS/DATAFRAMES

A diferencia de Pandas y Polars, PySpark permite la unificaci√≥n de datasets/dataframes mediante tres formas: 

    - Utilizando Join  (Uni√≥n columnar - Horizontalmente)
    - Utilizando union (Uni√≥n a nivel de filas - vertifcalmente) ‚úÖ M√°s riguroso
    - Utilizando unionByName (Uni√≥n a nivel de filas - vertifcalmente) ‚úÖ M√°s flexible

###### FUNCI√ìN JOIN

In [0]:
"""
    üìù SINTAXIS: 

        dataset_unificado_nombre=dataset_nombre_1.join(other=dataset_nombre_2,on='ColumnaEnComun',
                                how='left || rigth || inner || full || semi || anti || cross')                                
                                
        ==================================================================================================  

    ### üí°Importante: Join permite unificar los datasets/dataframes a nivel columnar, es decir,
                       unifica horizontalmente las columnas de un dataset/dataframe A; con las columnas
                       de un dataset/dataframe B; gracias a una columna en com√∫n que tienen ambos 
                       conjuntos de datos.  
"""
### ‚úÖ Utilizaremos este dataset de ejemplo:
import numpy as np

diccionario_uno = {
    "ID_Cliente":[1,2,3,4,5],
    "Nombre": ["Pepito","Juanito","Pedrito","Brayan","Carlos"],
    "Departamento":["LAS QUINTANAS","EL GOLF","BUENOS AIRES","SAN ANDR√âS","CALIFORNIA"]
}
diccionario_dos = {
    "ID_Cliente":[1,1,2,2,5,4,1,None],
    "Ventas":np.random.uniform(low=1450.25,high=1980.30,size=8).round(2).tolist()
}

df_uno = spark.createDataFrame(data=list(zip(*diccionario_uno.values())),schema=list(diccionario_uno.keys()))
df_dos = spark.createDataFrame(data=list(zip(*diccionario_dos.values())),schema=list(diccionario_dos.keys()))

diccionario_tres = {
    "Cliente_ID":[1,1,2,2,5,4,1,None],
    "Ventas":np.random.uniform(low=1450.25,high=1980.30,size=8).round(2).tolist()
}
df_tres = spark.createDataFrame(data=list(zip(*diccionario_tres.values())),schema=list(diccionario_tres.keys()))

In [0]:

#### üí° EJEMPLO 1 (UNIFICACI√ìN DE DATAFRAMES [INNER]) 
df_ejemplo_1 = df_uno.join(other=df_dos,on="ID_Cliente",how="inner")
# df_ejemplo_1.count() ## Cantidad de registros: 7
# df_ejemplo_1.show(7)
## [NO SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è INNER MANTIENE LA INFORMACI√ìN RELACIONADA Y EXISTENTE ENTRE AMBOS DATASETS

#### üí° EJEMPLO 2 (UNIFICACI√ìN DE DATAFRAMES [LEFT])
df_ejemplo_2 = df_uno.join(other=df_dos,on="ID_Cliente",how="left")
# df_ejemplo_2.count() ## Cantidad de registros: 8
# df_ejemplo_2.show(8)
## [SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è LEFT MANTIENE LA INFORMACI√ìN DEL LADO IZQUIERDO (df_uno) 
## [AS√ç NO EXISTA ALG√öN REGISTRO EN EL LADO DERECHO (df_dos)]

#### üí° EJEMPLO 3 (UNIFICACI√ìN DE DATAFRAMES [RIGHT])
df_ejemplo_3 = df_uno.join(other=df_dos,on="ID_Cliente",how="right")
# df_ejemplo_3.count() ## Cantidad de registros: 8
# df_ejemplo_3.show(8)
## [SE ENCUENTRA EL CLIENTE 3] ‚û°Ô∏è RIGHT MANTIENE LA INFORMACI√ìN DEL LADO DERECHO (df_dos) 
## [AS√ç NO EXISTA ALG√öN REGISTRO EN EL LADO IZQUIERDO (df_uno)]

#### üí° EJEMPLO 4 (UNIFICACI√ìN DE DATAFRAMES [FULL] o [OUTER]) ‚¨ÖÔ∏è AMBOS REALIZAN LO MISMO
df_ejemplo_4 = df_uno.join(other=df_dos,on="ID_Cliente",how="full")
# df_ejemplo_4.count() ## Cantidad de registros: 9
# df_ejemplo_4.show(9)
## ‚û°Ô∏è FULL u OUTER MANTIENE LA INFORMACI√ìN DE AMBOS DATAFRAMES.

#### üí° EJEMPLO 5 (UNIFICACI√ìN DE DATAFRAMES [CROSS])
df_ejemplo_5 = df_uno.join(other=df_dos,how="cross")
# df_ejemplo_5.count() ## Cantidad de registros: 40
# df_ejemplo_5.show()
## ‚û°Ô∏è CROSS GENERA TODAS LAS COMBINACIONES POSIBLES DE LAS FILAS DEL df_uno CON LAS FILAS DEL df_dos. 
##     (YA NO NECESITAMOS UTILIZAR EL PAR√ÅMETRO "on=")

# #### üí° EJEMPLO 6 (UNIFICACI√ìN DE DATAFRAMES [INNER] CON DIFERENTES NOMBRES)
##---- PREVIAMENTE DEBEMOS CAMBIAR EL NOMBRE DE LA COLUMNA DE UNO DE LOS DATAFRAMES
#      PARA MANTENER LA INTEGRIDAD
# df_tres = df_tres.withColumnRenamed(existing="Cliente_ID",new="ID_Cliente")
# df_tres.show(5) ‚¨ÖÔ∏è NOMBRE CAMBIADO CORRECTAMENTE
df_ejemplo_6 = df_uno.join(other=df_tres,how="inner",on="ID_Cliente")
# df_ejemplo_6.count() ## Cantidad de registros: 7
# df_ejemplo_6.show(7)

#### üí° EJEMPLO ANTI (PERMITE DEVOLVER LAS FILAS DE df_uno QUE NO SE ENCUENTRAN EN df_dos)
df_ejemplo_anti = df_uno.join(other=df_dos,how="anti",on="ID_Cliente")
# df_ejemplo_anti.count() ## Cantidad de registros: 1
# df_ejemplo_anti.show()


#### üí° EJEMPLO SEMI (PERMITE DEVOLVER LAS FILAS DE df_uno EXISTENTES EN df_dos)
####        PERO DEVOLVIENDO SOLO LAS FILAS DE df_uno
df_ejemplo_semi = df_uno.join(other=df_dos,how="semi",on="ID_Cliente")
# df_ejemplo_semi.count() ## Cantidad de registros: 1
# df_ejemplo_semi.show()

###### FUNCI√ìN UNION, UNIONALL Y UNIONBYNAME

In [0]:
"""
    üìù SINTAXIS: 

        1. Union : Permite unificar datasets/dataframes a nivel de fila (Por posiciones de las columnas).

            üìù SINTAXIS:

                dataset_nombre_unificado_final = dataset_nombre_uno.union(other=dataset_nombre_dos) 

        2. UnionALL : Permite unificar datasets/dataframes a nivel de fila.

            üìù SINTAXIS:

                dataset_nombre_unificado_final = dataset_nombre_uno.unionAll(other=dataset_nombre_dos) 

        1. UnionByName : Permite unificar datasets/dataframes a nivel de fila (Por nombres de las columnas).

            üìù SINTAXIS:

                dataset_nombre_unificado_final = dataset_nombre_uno.unionByName(other=dataset_nombre_dos,
                                                 allowMissingColumns=True|False)
                üí° El par√°metro "allowMissingColumns" si est√° en True, permite que las columnas de un 
                   dataset que no hagan match con las de otro dataset se vuelvan columnas independientes.
                   Sin embargo, si se establece en False ambos datasets deben tener la misma cantidad,
                   tipo y nombre en las columnas.
        ==================================================================================================  

    ### üí°Importante: Union,UnionAll y UnionByName permite unificar los datasets/dataframes a nivel fila,
                       es decir, unifica verticalmente las columnas de un dataset/dataframe A; con las 
                       columnas de un dataset/dataframe B; gracias a la(s) columna(s) en com√∫n que tienen
                       ambos conjuntos de datos.
                       
                       Debemos tener en cuenta que en ambos datasets/dataframes se debe tener la misma cantidad
                       tipos y orden en las columnas, evitando ciertas inconsistencias en el dataset final.
                       Adem√°s, en ninguna de as 3 funciones presentadas anteriormente elimina duplicados a menos
                       que utilicemos .distinc() o .dropDuplicates() seg√∫n la casu√≠stica correspondiente. 
"""
### ‚úÖ Utilizaremos estos dataset de ejemplo:
import numpy as np
diccionario_uno = {
    "Categorias":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±o": [2022,2022,2023,2023,2023],
    "Ventas":[3565.16, 3723.17, 3614.21, 3552.18, 3572.76]
}

diccionario_dos = {
    "Categorias":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±o": [2024,2024,2024,2025,2025],
    "Ventas":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

diccionario_tres = {
    "Cat":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±os": [2024,2024,2024,2025,2025],
    "Vent":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

diccionario_cuatro = {
    "Cat":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±os": [2024,2024,2024,2025,2025],
    "Vent":np.random.uniform(low=2150.25,high=4580.30,size=5).round(2).tolist()
}

diccionario_cinco = {
    "Categorias":["ELECTRODOM√âSTICOS","TECNOLOG√çA","JUGUETES","DEPORTE","CULTURA"],
    "A√±o": [2022,2022,2023,2023,2023],
    "Ventas":[3565.16, 3723.17, 3614.21, 3552.18, 3572.76]
}
df_uno = spark.createDataFrame(data=list(zip(*diccionario_uno.values())),schema=list(diccionario_uno.keys()))
df_dos = spark.createDataFrame(data=list(zip(*diccionario_dos.values())),schema=list(diccionario_dos.keys()))
df_tres = spark.createDataFrame(data=list(zip(*diccionario_tres.values())),schema=list(diccionario_tres.keys()))
df_cuatro = spark.createDataFrame(data=list(zip(*diccionario_cuatro.values())),schema=list(diccionario_cuatro.keys()))
df_cinco = spark.createDataFrame(data=list(zip(*diccionario_cinco.values())),schema=list(diccionario_cinco.keys()))

In [0]:

#### ‚û°Ô∏è UNION:
## ------ Datasets con las mismas caracter√≠sticas en las columnas (Nombre,Tipo,Cantidad) 
df_ejemplo_1 = df_uno.union(other=df_dos)
# df_ejemplo_1.show()

## ------ Datasets con las mismas caracter√≠sticas en Tipo y Cantidad (Nombres diferentes) 
df_ejemplo_2 = df_uno.union(other=df_tres)
# df_ejemplo_2.show()

## ------ Datasets con datos duplicados y mismas caracter√≠sticas en las columnas(Nombres,Tipo,Cantidad) 
df_ejemplo_3 = df_uno.union(other=df_cinco) ## NO ELIMINAMOS DUPLICADOS
# df_ejemplo_3.show()

## ------ Datasets con datos duplicados y mismas caracter√≠sticas en las columnas(Nombres,Tipo,Cantidad) 
df_ejemplo_4 = df_uno.union(other=df_cinco).dropDuplicates()
df_ejemplo_4.show() ## ELIMINAMOS DUPLICADOS

In [0]:

#### ‚û°Ô∏è UNIONALL:
## ------ Datasets con las mismas caracter√≠sticas en las columnas (Nombre,Tipo,Cantidad) 
df_ejemplo_1 = df_uno.unionAll(other=df_dos)
# df_ejemplo_1.show()

## ------ Datasets con las mismas caracter√≠sticas en Tipo y Cantidad (Nombres diferentes) 
df_ejemplo_2 = df_uno.unionAll(other=df_tres)
# df_ejemplo_2.show()

## ------ Datasets con datos duplicados y mismas caracter√≠sticas en las columnas(Nombres,Tipo,Cantidad) 
df_ejemplo_3 = df_uno.unionAll(other=df_cinco) ## NO ELIMINAMOS DUPLICADOS
# df_ejemplo_3.show()

## ------ Datasets con datos duplicados y mismas caracter√≠sticas en las columnas(Nombres,Tipo,Cantidad) 
df_ejemplo_4 = df_uno.unionAll(other=df_cinco).dropDuplicates()
# df_ejemplo_4.show() ## ELIMINAMOS DUPLICADOS

In [0]:

#### ‚û°Ô∏è UNIONBYNAME:
## ------ Datasets con las mismas caracter√≠sticas en las columnas (Nombre,Tipo,Cantidad) 
df_ejemplo_1 = df_uno.unionByName(other=df_dos,allowMissingColumns=True)
# df_ejemplo_1 = df_uno.unionByName(other=df_dos,allowMissingColumns=False) ## Mismo resultado por las caracteristicas de las columnas.
# df_ejemplo_1.show()

## ------ Datasets con las mismas caracter√≠sticas en Tipo y Cantidad (Nombres diferentes) 
# df_ejemplo_2 = df_uno.unionByName(other=df_tres,allowMissingColumns=False) ## Error por los nombres diferentes de columnas.
df_ejemplo_2 = df_uno.unionByName(other=df_tres,allowMissingColumns=True) ## Columnas diferentes se vuelven columnas independientes. 
# df_ejemplo_2.show()

## ------ Datasets con datos duplicados y mismas caracter√≠sticas en las columnas(Nombres,Tipo,Cantidad) 
df_ejemplo_3 = df_uno.unionByName(other=df_cinco,allowMissingColumns=True) ## NO ELIMINAMOS DUPLICADOS
# df_ejemplo_3 = df_uno.unionByName(other=df_cinco,allowMissingColumns=False) ## Mismo resultado por las caracteristicas de las columnas.
# df_ejemplo_3.show()

## ------ Datasets con datos duplicados y mismas caracter√≠sticas en las columnas(Nombres,Tipo,Cantidad) 
df_ejemplo_4 = df_uno.unionByName(other=df_cinco,allowMissingColumns=True).dropDuplicates()

## Mismo resultado por las caracteristicas de las columnas.
# df_ejemplo_4 = df_uno.unionByName(other=df_cinco,allowMissingColumns=False).dropDuplicates() 
# df_ejemplo_4.show() ## ELIMINAMOS DUPLICADOS

##### FASE 6. EXPORTACI√ìN DE DATASETS/DATAFRAMES

En PySpark dentro de Databricks, la exportaci√≥n de datos cumple el mismo rol cr√≠tico: cerrar el ciclo de manipulaci√≥n y transformaci√≥n de datos asegurando que la informaci√≥n ya procesada quede disponible para su consumo, integraci√≥n o almacenamiento.Sin embargo, la diferencia clave es que, bajo Unity Catalog, toda la gesti√≥n de datos se centraliza en un cat√°logo/esquema/volumen-tabla que permite una seguridad y gobernanza en la informaci√≥n. Los siguientes formatos para exportar los datasets ser√°n: CSV, PARQUET, DELTA TABLE y ARCHIVO DELTA.

In [0]:
### üí° UTLIZAREMOS DE EJEMPLO ESTE DATASET
data = {
    "id": [1, 2, 3, 3, None],
    "nombre": ["Ana", "Luis", "Karla", "Karla", "Pedro"],
    "edad": [23, 35, 29, 29, None]
}
df = spark.createDataFrame(data=list(zip(*data.values())),schema=list(data.keys()))
# df.show()

In [0]:
from pyspark.sql.types import IntegerType
### ‚úÖ Realizaremos una Limpieza b√°sica
df = df.dropna()                 # eliminar filas con valores nulos
df = df.drop_duplicates()        # eliminar duplicados
df = df.withColumn(
    "id",
    col("id").cast(dataType=IntegerType()) # castear columna a entero
)
df = df.withColumnsRenamed({"nombre":"Nombre","edad":"Edad"})

In [0]:
### üí°CREAREMOS UN CATALAGO y UN ESQUEMA PARA ALMACENAR LOS ARCHIVOS A EXPORTAR.
##----1. CREAMOS EL CATALAGO
spark.sql("CREATE CATALOG IF NOT EXISTS catalago_exportacion_archivos")
print("Catalago creado correctamente.")
##----2. CREAMOS EL ESQUEMA
spark.sql("CREATE SCHEMA IF NOT EXISTS catalago_exportacion_archivos.esquema_exportacion_archivos")  
print("Esquema creado correctamente.")

In [0]:
##---- ‚úÖüóÉÔ∏è EXPORTANDO A FORMATO CSV (COMMA SEPARATED VALUES) [CREAMOS UN VOLUMEN INDEPENDIENTE]
## 1. CREAMOS EL VOLUMEN:
spark.sql("CREATE VOLUME IF NOT EXISTS catalago_exportacion_archivos.esquema_exportacion_archivos.volumen_csv")
print("Volumen CSV creado correctamente.")
## 2. EXPORTAMOS/ALMACENAMOS EL ARCHIVO EN EL VOLUMEN:
df.write.option("header","true").option("inferSchema","true").mode('overwrite').csv("/Volumes/catalago_exportacion_archivos/esquema_exportacion_archivos/volumen_csv")
print("Se export√≥ el dataframe en modo CSV correctamente.")

In [0]:
##---- ‚úÖüóÉÔ∏è EXPORTANDO A FORMATO PARQUET (FORMATO COLUMNAR OPTIMIZADO) [CREAMOS UN VOLUMEN INDEPENDIENTE]
## 1. CREAMOS EL VOLUMEN:
spark.sql("CREATE VOLUME IF NOT EXISTS catalago_exportacion_archivos.esquema_exportacion_archivos.volumen_parquet")
print("Volumen PARQUET creado correctamente.")
## 2. EXPORTAMOS/ALMACENAMOS EL ARCHIVO EN EL VOLUMEN:
df.write.mode('overwrite').parquet("/Volumes/catalago_exportacion_archivos/esquema_exportacion_archivos/volumen_parquet")
print("Se export√≥ el dataframe en modo PARQUET correctamente.")

In [0]:
##---- ‚úÖüóÉÔ∏è EXPORTANDO A FORMATO ARCHIVO DELTA (ARCHIVO F√çSICO DE DATOS QUE NO ES GOBERNADO POR UNITY CATALOG COMO ENTIDAD) [CREAMOS UN VOLUMEN INDEPENDIENTE]
## 1. CREAMOS EL VOLUMEN:
spark.sql("CREATE VOLUME IF NOT EXISTS catalago_exportacion_archivos.esquema_exportacion_archivos.volumen_archivo_delta")
print("Volumen de ARCHIVO DELTA creado correctamente.")
## 2. EXPORTAMOS/ALMACENAMOS EL ARCHIVO EN EL VOLUMEN:
df.write.format('delta').mode("overwrite").save("/Volumes/catalago_exportacion_archivos/esquema_exportacion_archivos/volumen_archivo_delta")
print("Se export√≥ el dataframe en modo ARCHIVO DELTA correctamente.")

In [0]:
##---- ‚úÖüóÉÔ∏è EXPORTANDO A FORMATO DELTA TABLE (TABLA OPTIMIZADA PARA SU USO EFICIENTE EN LECTURA/ESCRITURA DE DATOS)
#  [CREAMOS DIRECTAMENTE LA TABLA RELACIONADA A UN CAT√ÅLAGO Y ESQUEMA]
## 1. EXPORTAMOS/ALMACENAMOS EL ARCHIVO DIRECTAMENTE EN UNA TABLA
df.write.format("delta").mode("overwrite").saveAsTable("catalago_exportacion_archivos.esquema_exportacion_archivos.delta_table")
print("Se export√≥ el dataframe a una DELTA TABLE correctamente.")

###### PUEDES REVISAR LA IMAGEN OutPutExportacionDatosDatabricks.png PARA VER LA ESTRUCTURA DE ESTA FASE.